fastapi
uvicorn
pydantic
requests
python-dotenv
langgraph
openai
python-docx
reportlab
nest_asyncio
gunicorn
PyPDF2
youtube_transcript_api
google-api-python-client
firecrawl 
langchain_google_genai
browser_use
