fastapi
uvicorn
pydantic
requests
python-dotenv
langgraph
openai
python-docx
reportlab
pymongo
nest_asyncio
celery[redis]  
pytz
redis          
firecrawl
gunicorn
PyPDF2
youtube_transcript_api
google-api-python-client
apscheduler
